body{font-family: 'Comic Neue', cursive; background-color: #845845; box-sizing: border-box; margin:0; border:0}

form{
    background-color: rgb(224, 223, 223);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    border-color: lightblue;
}
h1{
    font-family: 'Comic Neue', cursive;
}

.infoPoke{
     position: relative;
     top:-692px;
    left:298px;
        max-height: 364px;
        max-width: 17.8%;
        border: 1px solid;
        overflow:auto;
        -webkit-overflow-scrolling: touch;
        font-family: 'Comic Neue', cursive;
        font-size: 1rem;
}
#pesopoke,#tipopoke,#alturapoke,#habilidadpoke{
    font-family: 'Comic Neue', cursive;
    font-size: 1rem;
}
.fotoPke{
    position: relative;
    top:-662px;
   left:298px;
       max-height: 364px;
       max-width: 17.8%;
       overflow:auto;
       -webkit-overflow-scrolling: touch;
       font-family: 'Comic Neue', cursive;
       font-size: 1rem;
}

#pkconsultado{
    position: relative;
    top:-590px;

       max-height: 305px;
       max-width: 14.7%;
    border: 1px solid;
    border-color: red;
    left:820px;
}
.grafica{
    position: relative;
    top: -1045.1px;
   left:706px;
   width: 32.65%;
   height: 24.67rem;
}

.fotoPk{
    position: relative;
    top:-1040px;
   left:130px;
   width: 12%;
   
   border-color: lightslategrey;
}
.fotoPkB{
    position: relative;
    top:-900px;
   left:130px;
   width: 12%;
   
   border-color: lightslategrey;
}
.fotoPkc{
    position: relative;
    top:-870px;
   left:145px;
   width: 9.3%;
   border-color: lightslategrey;  
}
#textos,#texton,#textinfb,#textosBa,#textonBa,#textonBc{
    margin:0;
    border:0;
    text-align: center;
    font-family: 'Comic Neue', cursive;
}
#textinfa{
    text-align: center;
    font-family: 'Comic Neue', cursive;
    color:#000;

}
#fotoPokes,#fotoPoken,#fotoPokenBa,#fotoPokesBa,#fotoPokenBc{
    text-align: center;
    padding: 0;
    margin:0;
}
#pokenomcons{
    font-size: 200rem;
}
a{
 
    color:#000;
}

strong{
    font-family: 'Comic Neue', cursive;
    font-size: 1.2rem;
    color:#000;
}
#btnA{
    position: absolute;
    top:894px;
    left: 748.5px;
    width: 9.95rem;
    height: 4.65rem;
    background-color: #f2990e;
    border: 0;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}

#btnB{
    position: absolute;
    top:894px;
    left:942px;
    width: 9.75rem;
    height: 4.65rem;
    background-color: #f2990e;
    border: 0;
    border-radius: 10px;
}
#nombrepk{
    position: absolute;
    top:858px;
    left:195.1px;
    width: 11.35rem;
    height: 5.5rem;
    background-color: #f7f903;
    border: 0;
    border-radius: 10px;
     
}

::placeholder {
    color: #000;
    font-family: 'Comic Neue', cursive;
    font-size: 1.15rem;
    padding: 0;
    text-align: center;
    display: flexbox;
  }

.buscar{
    font-family: 'Comic Neue', cursive;
    font-size: 2.2rem;
    padding: 1;
   
}

.volver{
    font-family: 'Comic Neue', cursive;
    font-size: 2.2rem;
    padding: 1;
}